# External configuration submodules
# These will be activated once the external repositories are created

[submodule "external/rtr-sapinet-config"]
  path = external/rtr-sapinet-config
  url = https://github.com/franck01081991/rtr-sapinet-config.git
  branch = master

[submodule "external/rtr-noisy-config"]
  path = external/rtr-noisy-config
  url = https://github.com/franck01081991/rtr-noisy-config.git
  branch = master