[Interface]
PrivateKey = {{ lookup('file', '/etc/wireguard/' + inventory_hostname + '.key') }}
Address = {{ wireguard_address | default('10.255.0.1/24') }}
ListenPort = 51820

[Peer]
PublicKey = {{ peer_public_key | default('PEER_PUBLIC_KEY') }}
AllowedIPs = {{ peer_allowed_ips | default('10.255.0.0/24, 10.254.0.0/24') }}
Endpoint = {{ peer_endpoint | default('PEER_ENDPOINT') }}:51820
PersistentKeepalive = 25
