{  
  # WireGuard configuration
  {{ inventory_hostname }}Pub = "{{ wg_public_key.stdout }}";
  {{ inventory_hostname }}Endpoint = "{{ wireguard_endpoint | default('RTR_NOISY_IP') }}";
  
  # Add other peers as needed
  # noisyPub = "BASE64_PUBLIC_KEY";
  # noisyEndpoint = "IP_OR_DOMAIN";
}