{  
  # WireGuard configuration
  {{ inventory_hostname }}Pub = "{{ wg_public_key.stdout }}";
  {{ inventory_hostname }}Endpoint = "{{ wireguard_endpoint | default('RTR_NOISY_IP') }}";

  # Peers configuration
  {% for peer in wireguard_peers %}
  {{ peer.name }}Pub = "{{ peer.public_key }}";
  {{ peer.name }}Endpoint = "{{ peer.endpoint | default('PEER_ENDPOINT') }}";
  {% endfor %}
}