{ config, lib, pkgs, ... }:

{
  services.frr = {
    enable = true;
    bgpd.enable = true;
    ospfd.enable = true;
    
    config = lib.concatStringsSep "\n" [
      ''
      frr defaults traditional
      hostname {{ inventory_hostname }}
      service integrated-vtysh-config
      log syslog informational
      ''
      
      ''
      router bgp {{ bgp_as }}
        bgp router-id 10.254.0.{{ '1' if inventory_hostname == 'rtr-sapinet' else '11' }}
        {% if inventory_hostname == 'rtr-noisy' %}
        bgp cluster-id 10.254.0.11
        {% endif %}
        
        neighbor 10.254.0.{{ '11' if inventory_hostname == 'rtr-sapinet' else '1' }} remote-as {{ bgp_as }}
        neighbor 10.254.0.{{ '11' if inventory_hostname == 'rtr-sapinet' else '1' }} update-source lo
        neighbor 10.254.0.{{ '11' if inventory_hostname == 'rtr-sapinet' else '1' }} ebgp-multihop 5
        
        address-family ipv4 unicast
          network 10.254.0.{{ '1' if inventory_hostname == 'rtr-sapinet' else '11' }}/32
          neighbor 10.254.0.{{ '11' if inventory_hostname == 'rtr-sapinet' else '1' }} activate
        exit-address-family
        
        {% if inventory_hostname == 'rtr-noisy' %}
        address-family l2vpn evpn
          neighbor 10.254.0.1 activate
        exit-address-family
        {% endif %}
      !
      ''
      
      ''
      router ospf
        ospf router-id 10.254.0.{{ '1' if inventory_hostname == 'rtr-sapinet' else '11' }}
        network 10.254.0.{{ '1' if inventory_hostname == 'rtr-sapinet' else '11' }}/32 area 0
        network 10.255.0.0/24 area 0
        passive-interface default
        passive-interface wgtransport
      !
      ''
    ];
  };
}
