{ config, lib, pkgs, ... }:

{
  networking.wireguard.interfaces.wgtransport = {
    privateKeyFile = "/etc/wireguard/{{ inventory_hostname }}.key";
    listenPort = {{ wg_port | default(51820) }};
    mtu = {{ wg_mtu | default(1420) }};
    ips = [ "{{ wg_ip_address }}" ];
    
    peers = [
      {% for peer in wg_peers %}
      {
        publicKey = "{{ peer.public_key }}";
        allowedIPs = {{ peer.allowed_ips | to_json }};
        {% if peer.endpoint is defined %}
        endpoint = "{{ peer.endpoint }}:{{ wg_port | default(51820) }}";
        persistentKeepalive = {{ peer.persistent_keepalive | default(25) }};
        {% endif %}
      }
      {% endfor %}
    ];
  };
}
