{ config, lib, pkgs, ... }:

{
  networking.wireguard.interfaces.wgtransport = {
    privateKeyFile = "/etc/wireguard/{{ inventory_hostname }}.key";
    listenPort = {{ wg_port }};
    mtu = {{ wg_mtu }};
    ips = [ "10.255.0.{{ '1' if inventory_hostname == 'rtr-sapinet' else '11' }}/24" ];
    
    peers = [
      {
        publicKey = "{{ hostvars['rtr-noisy'].wg_public_key if inventory_hostname == 'rtr-sapinet' else hostvars['rtr-sapinet'].wg_public_key }}";
        allowedIPs = [
          "10.255.0.{{ '11' if inventory_hostname == 'rtr-sapinet' else '1' }}/32"
          "10.254.0.{{ '11' if inventory_hostname == 'rtr-sapinet' else '1' }}/32"
        ];
        {% if inventory_hostname == 'rtr-noisy' %}
        endpoint = "45.90.162.251:{{ wg_port }}";
        persistentKeepalive = 25;
        {% endif %}
      }
    ];
  };
}
