wireguard:
    rtr-sapinet:
        private_key: "{{ hostvars['rtr-sapinet'].wg_public_key if inventory_hostname == 'rtr-sapinet' else '' }}"
        public_key: "{{ hostvars['rtr-sapinet'].wg_public_key if inventory_hostname == 'rtr-sapinet' else '' }}"
    rtr-noisy:
        private_key: "{{ hostvars['rtr-noisy'].wg_public_key if inventory_hostname == 'rtr-noisy' else '' }}"
        public_key: "{{ hostvars['rtr-noisy'].wg_public_key if inventory_hostname == 'rtr-noisy' else '' }}"
